<div class="card" *ngFor="let char of items">
    <h1>LUKE SKYWALKER</h1>
    <div class="info">
        <h3>HEIGHT</h3>
        <span>172</span>
    </div>

    <div class="button">
        <button>
            <span>Details</span>
        </button>
    </div>

    <div class="info">
        <h3>HEIGHT</h3>
        <span>172</span>
    </div>

    <div class="info">
        <h3>HEIGHT</h3>
        <span>172</span>
    </div>

    <div class="info">
        <h3>HEIGHT</h3>
        <span>172</span>
    </div>
        
</div>